/* Reset de Estilos Globales */

/* Eliminar márgenes y relleno por defecto */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Quitar los estilos por defecto de los enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Asegurarnos que las imágenes se ajusten bien en contenedores */
img {
  max-width: 100%;
  height: auto;
}

/* Agregar un fondo claro global */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5;
}